<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="json">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>GET JSON</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="protobufparsed">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>GET Protobuf Parsed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="protobuf">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>GET Protobuf</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="postprotobuf">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>POST Protobuf</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="putprotobuf">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>PUT Protobuf</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deleteprotobuf">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>DELETE Protobuf</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patchprotobuf">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>PATCH Protobuf</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>